<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MQ-Admin</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<!--
                               __  __    ___  
                               |  \/  |  / _ \  
                               | |\/| | | | | |  
                               | |  | | | |_| | 
                               |_|  |_|  \__\_\   
      
      -->
<body>
  <div id="root"></div>
</body>

</html>